[Unit]
Description=Mount ono data share

[Mount]
What=192.168.1.77:/mnt/user/data
Where=/var/mnt/data
Type=nfs4
TimeoutSec=30

[Install]
WantedBy=multi-user.target
